/* ================================= 
  Base Layout Styles
==================================== */

* {
    box-sizing: border-box;
}

/* =================================
---- Layout Containers ---- 
====================================*/
header {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 100%;
   }   

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: 2em;
}
.name {
    margin: auto;
    }

.main-nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0;
}


.main-nav li {
    list-style-type: none;
    margin: 0 auto;
        }
.main-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    }
.wes,
.michael { 
    text-align: center;
}

.sticky-footer {
    flex: 1;
}
.about_col {
    position: relative;
    z-index: 1;
}

.about_col .bg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://placeimg.com/640/480/nature") center center;
    opacity: 0.5;
    width: 100%;
    height: 100%;
 }

img {
    border-radius: 10px;
}

/* ================================= 
  For Modal
==================================== */
.hidden {
    display: none;
}

/* ================================= 
  Media Queries
==================================== */

@media only screen and (min-width: 769px) {
    header {
        display: flex;
        flex-direction: row;
        background-color: blue;
        width: 100%;
       }   
    
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container {
        display: flex;
        justify-content: space-around;

    }
    .wes {
        margin-right: 2em;
    }
    
    .wes,
    .michael {
        flex-direction: row; 
        
    }

    .name {
      margin-left: 1em;
        }
        
    .main-nav {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        }
        
        .main-nav li {
            margin-top: 1em;
        }
        
        a {
            padding: 1em;
           
        }
}

@media only screen and (min-width: 1025px) {

    header {
        background-color: yellow;
    }
}